@import url("https://fonts.googleapis.com/css?family=Roboto:400,800&display=swap");

body {
  background-color: white;
  overflow-x: hidden;
  font-family: "Roboto", Arial, sans-serif;
  color: hsla(0, 0%, 0%, 0.8);
  margin: 0;
}

body:before {
  z-index: -2;
  height: 100%;
  width: 80%;
  content: "";
  background-color: #f8d9c680;
  position: fixed;
  top: 0;
  left: 0;
  transform: skewX(-13deg) translateX(13%);
}
